*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
    background: var(--darkest-blue);
    color: var(--white);
}

body {
    position: relative;
    height: 100%;
}

