@use '../util' as *;

html {
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: var(--ff-mono);
  font-size: var(--fs-md);
}

a {
  color: var(--clr-primary);
}

p {
  line-height: 1.5;
  margin-bottom: rem(15);
}

article {
  width: 100%;
  padding: 0 2rem;
}

.section {
  &__title {
    display: inline-block;
    width: auto;
    padding-bottom: rem(20);
    margin-bottom: rem(30);
    margin-left: rem(20);
    border-bottom: rem(5) solid var(--clr-secondary);

    span {
      font-size: 60%;
      font-weight: 300;
    }
  }
}
