.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-family: $ff-mono;
  font-size: $fs-sm;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &__primary {
    border-color: $clr-light-blue-green;
    color: $clr-light-blue-green;

    &:hover,
    &:active,
    &:focus {
      background-color: $clr-light-blue-green;
      color: $clr-white;
    }
  }

  &__secondary {
    border-color: $clr-green;
    color: $clr-green;

    &:hover,
    &:active,
    &:focus {
      background-color: $clr-green;
      border-color: $clr-green;
      color: $clr-white
    }
  }

  &__cancel {
    border-color: $clr-red;
    color: $clr-red;

    &:hover,
    &:active,
    &:focus {
      background-color: $clr-red;
      border-color: $clr-red;
      color: $clr-white
    }
  }

  svg {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}