.form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  &__item {
    flex: 1 1 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;

    label {
      display: block;
    }

    input,
    textarea {
      font-family: $ff-mono;
      background: transparent;
      border: none;
      padding: 1.5rem 0;
      width: 100%;
      border-bottom: 2px solid $clr-light-blue-green;
    }

    @media #{$mq-small} {
      &-half {
        flex: 1 1 50%;
      }
    }
  }

  &__button {
    padding: 0 1.5rem;
  }
}