@use '../util' as *;

.form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: rem(800);
  margin: 0 auto;

  &__item {
    flex: 1 1 100%;
    padding: rem(10) rem(15);
    margin-bottom: rem(30);
    position: relative;

    label {
      position: absolute;
      top: rem(-20);
      left: rem(15);
      color: var(--primary);
      // transform: translateY(-35px);
      display: inline-block;
      font-size: var(--fs-lg);
    }

    input,
    textarea {
      color: var(--clr-white);
      font-family: var(--ff-mono);
      background: transparent;
      border: none;
      padding: rem(15) 0;
      width: 100%;
      border-bottom: rem(2) solid var(--primary);
      position: relative;
      z-index: 2;
    }

    @include breakpoint(small) {
      &-half {
        flex: 1 1 50%;
      }
    }
  }

  &__button {
    padding: 0 rem(15);
    width: 100%;

    button {
      display: block;
      width: 100%;
    }

    @include breakpoint(small) {
      width: auto;

      button {
        display: inline-block;
        width: auto;
      }
    }
  }
}
