@use '../util' as *;

.modal {
  &__bg {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;

    &.visible {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
    }
  }

  &__body {
    background: var(--clr-darker-primary);
    color: var(--clr-white);
    width: 95%;
    border-radius: rem(5);
    box-shadow: 0 0 rem(10) rgba(255, 255, 255, 0.2);
  }

  &__header {
    padding: rem(20);
    font-family: var(--ff-sans);
    font-weight: 700;
    font-size: var(--fs-xxl);
    border-bottom: rem(1) solid var(--clr-gray);
  }

  &__content {
    padding: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(30);
    font-size: var(--fs-md);

    &-img {
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: rem(5);
      }
    }

    h3 {
      margin-bottom: rem(10);
    }

    p {
      margin-bottom: rem(10);
    }

    .btn {
      margin-block: rem(20);
    }
  }

  &__actions {
    padding: rem(20);
    border-top: rem(1) solid var(--clr-gray);
    display: flex;
    gap: rem(20);
    justify-content: flex-end;
    width: auto;

    > .btn {
      margin: inherit;
    }
  }

  @include breakpoint(small) {
    &__body {
      width: 85%;
    }

    &__content {
      padding-block: rem(50);
      flex-direction: row;

      .btn {
        display: inline-flex;
      }

      &-img {
        flex: 1;
      }

      &-text {
        flex: 0 0 65%;
      }
    }
  }

  @include breakpoint(medium) {
    &__body {
      width: 55%;
    }
  }
}
