#about,
#portfolio,
#services,
#contact {
  padding: 10rem 1rem 3rem;;

  @media #{$mq-medium} {
    padding: 5rem;
  }
}

#about {
  img.about {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    border: 1px solid $clr-green;
    border-radius: 4px;
    padding: 1rem;
  }

  article {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        flex: 1 0 50%;
        margin-bottom: 3rem;

        a {
          display: inline-block;
          font-family: $ff-mono;

          svg {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  @media #{$mq-medium} {
    article {

      ul {
        li {
          flex: 0 0 auto;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.btn__container {
  justify-content: space-evenly;
  margin-block: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__image {
    margin: 3rem auto;
    text-align: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    background: rgba($clr-dark-blue-green, .95);
    padding: 2rem;
    margin: auto;
  }

  &__title {
    font-size: $fs-xxl;
    color: darken($clr-white, 10%);
    margin-bottom: 5px;
  }

  &__type {
    font-size: $fs-md;
    font-weight: $fw-light;
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
  }

  &__tools {
    list-style-type: none;

    li {
      display: inline-block;
      letter-spacing: 1px;
      font-family: $ff-mono;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: 3rem;
    border-bottom: 1px solid $clr-dark-blue;
  }

  @media #{$mq-small} {
    position: relative;
    flex-flow: row wrap;

    &:nth-child(odd) {
      .project__content {
        right: initial;
        left: 0;
      }
    }

    &__image {
      flex: 0 0 65%;
      margin: 3rem 0;
    }

    &__content {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 45rem;
      border-radius: 5px;
      border:1px solid $clr-dark-blue;

    }
  }

  @media #{$mq-medium} {

    &__image {
      flex: 0 0 75%;
      margin-inline: auto;
    }

    &__content {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 60rem;
      border-radius: 5px;
      border:1px solid $clr-dark-blue;
    }
  }

}