@use '../util' as *;

.container {
  width: 100%;
  max-width: rem(1420);
  margin: 0 auto rem(20);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include breakpoint(medium) {
    flex-flow: row wrap;
    &__left {
      &-40 {
        flex: 1 0 40%;
      }
      &-60 {
        flex: 1 0 60%;
      }
    }

    &__right {
      &-40 {
        flex: 1 0 40%;
      }
      &-60 {
        flex: 1 0 60%;
      }
    }
  }
}
