@use '../util' as *;

.header {
  &__index {
    height: 100vh;
    position: relative;
    background-color: var(--clr-black);
    color: var(--clr-white);
    background-image: url(../../../public/img/header-splash.jpg);
    background-size: cover;
    background-position: top center;
  }

  &__wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__image {
    &-profile {
      height: rem(200);
      width: rem(200);
      border-radius: 100%;
      display: block;
      margin: auto;
    }
  }
}

.page-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--ff-sans);

  h1 {
    text-transform: uppercase;
    letter-spacing: rem(3);
    font-size: rem(40);
    margin: rem(30) auto rem(10);
    color: var(--clr-primary);
  }

  .subhead {
    letter-spacing: rem(3);
    font-weight: 300;
    margin-bottom: rem(15);
  }
}

.fa-jedi-order,
.fa-galactic-republic {
  font-size: rem(50);
  color: var(--clr-primary);
}

a.scroll-down {
  color: white;
  content: '';
  width: rem(90);
  height: rem(32);
  background-repeat: no-repeat;
  background-image: url(../../../public/img/down-arrow.png);
  position: absolute;
  display: block;
  bottom: rem(30);
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.skipLink {
  position: absolute;
  left: -1000px;
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.skipLink:focus,
.skipLink:active {
  left: 0;
  top: 0;
  z-index: 200;
}
