@use '../util' as *;
@use '../util' as *;

#about,
#portfolio,
#services,
#contact {
  padding: rem(100) rem(10) rem(100);

  @include breakpoint(medium) {
    padding: 5rem 5rem 8rem;
  }
}

#about {
  img.about {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    border: rem(1) solid var(--secondary);
    border-radius: rem(4);
    padding: rem(10);
  }

  article {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        flex: 1 0 50%;
        margin-bottom: rem(30);

        a {
          display: inline-block;
          font-family: var(--ff-mono);

          svg {
            margin-right: rem(10);
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    article {
      ul {
        li {
          flex: 0 0 auto;
          margin-bottom: rem(5);
        }
      }
    }
  }
}

.btn__container {
  justify-content: space-evenly;
  margin-block: rem(20);
}

#portfolio {
  .flex {
    gap: rem(20);
    justify-content: center;
  }
}

.project {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  flex: 1 1 100%;
  font-family: var(--ff-sans);

  &__body {
    background: var(--clr-darker-primary);
    padding: rem(20);

    &:hover {
      .project__content {
        display: flex;
        visibility: visible;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
      }
    }
  }

  &__image {
    img {
      display: block;
      max-width: 75%;
      height: auto;
      margin: rem(30) auto;
    }
  }

  &__header {
    text-align: center;
  }

  &__content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: rem(20);
    left: rem(20);
    bottom: rem(20);
    right: rem(20);
    padding: rem(20);
    background: darken(#082540, 5%);
    transition: all 0.45s ease-in-out;

    a {
      display: inline-block;
      margin-bottom: rem(10);
    }
  }

  &__tools {
    list-style-type: none;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: rem(15);
        font-family: var(--ff-mono);
        letter-spacing: rem(1.5);
      }
    }
  }

  @include breakpoint(small) {
    flex: 0 0 48%;
  }

  @include breakpoint(medium) {
    flex: 0 0 30%;
  }
}

#contact {
  padding: rem(100) auto;

  .btn {
    margin: rem(100) auto;
  }
}
